/* body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
} */

body {
  margin-top: 80px;
  background-image: url(https://i.pinimg.com/originals/9c/58/1c/9c581cecd7d48348aead44f4b9d2ada6.jpg);
}

.SinglePage {
  overflow: hidden;
  width: 500px;
}

a:link {
  text-decoration: none;
}

.quantity {
  display: flex;
  justify-content: space-evenly;
}
