body {
  margin-top: 70px;
  background-image: url(https://img.wallpapersafari.com/desktop/1920/1080/43/19/9joCKv.jpg);
  background-attachment: fixed;
}

.SinglePage {
  overflow: hidden;
  width: 500px;
}

a {
  text-decoration: none;
  color: white;
}

.quantity {
  display: flex;
  justify-content: space-around;
}

.warning {
  padding: 0 0.5em;
  font-size: 1em;
  letter-spacing: 0.1em;
  color: red;
}

.hidden {
  visibility: hidden;

.subHeader {
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de,
    0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
}

.accountDetails {
  display: flex;
  justify-content: center;
}
